@charset "UTF=8";

/*FILTER
#filter{
    position: relative;
    width: 25vw;
    margin: 110px auto 20px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #000;
    text-align: center;
    padding: 5px;
}

#filter a{
    width: 20vw;
    font-size: 1.5rem;
    padding: 5px;
    display: block;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
    transition: all .3s;
}

#filter a:hover{
    background-color: rgb(255, 1, 197);
}

#material, #matCroche, #matFeltro{
    display: none;
}

#material, #matCroche, #matFeltro{
    width: 20vw;
    margin: 10px auto;
    padding: 10px;
    font-size: 1.5rem;
    background-color: rgb(255, 1, 197);
    border-radius: 5px 5px 1px 1px;
    font-weight: bolder;
    text-align: center;
    border: solid 2px #000;
}

option{
    font-weight: bolder;
}
/*FILTER*/

#galeriaDeFotos{
    position: relative;
    width: 95vw;
    margin: auto;
    overflow: hidden;
    border-radius: 5px;
    background-color: ghostwhite;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .9);
}

h3{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: #000;
    text-shadow: 0px 0px 5px #fff;
    margin: 30px auto;
}

#galBanheiro, #galTapete, #galPersonagem, #galLogoGame, #galBichinho{
    position: relative;
    width: 100%;
    list-style: none;
    margin: auto;
    /*display: none;*/
    overflow: hidden;
    border: solid 1px #000;
}

#galBanheiro li, #galTapete li, #galPersonagem li, #galLogoGame li, #galBichinho li{
    position: relative;
    float: left;
    width: 30%;
    min-width: 350px;
    height: 250px;
    margin: 30px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgb(255, 1, 197);
    border-radius: 5px;
    transition: all .3s;
    cursor: pointer;
}

#galBanheiro li:hover, #galTapete li:hover, #galPersonagem li:hover, #galLogoGame li:hover, #galBichinho li:hover{
    transform: scale(1.3);
}

#galBanheiro li:hover span, #galTapete li:hover span, #galPersonagem li:hover span, #galLogoGame li:hover span, #galBichinho li:hover span{
    opacity: 1;
}

/*HOVER DAS FOTOS*/
#amosBanTap:hover, #amosPerBic:hover, #amosLogJog:hover, #ban1:hover, #ban2:hover, #ban3:hover, #ban4:hover, #bic1:hover, #tap1:hover, #tap2:hover, #tap3:hover, #tap4:hover, #tap5:hover, #tap6:hover, #tap7:hover, #tap8:hover, #tap9:hover, #tap10:hover, #tap11:hover, #tap12:hover, #tap13:hover, #tap14:hover, #tap15:hover, #tap16:hover, #per1:hover{
    background-position: 0px 0px;
    background-size: 350px 250px;
}
/*HOVER DAS FOTOS*/

/*GALERIA BANHEIRO*/
#ban1{ background: url("../images/croche/banheiro/ban1.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#ban2{ background: url("../images/croche/banheiro/ban2.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#ban3{ background: url("../images/croche/banheiro/ban3.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#ban4{ background: url("../images/croche/banheiro/ban4.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
/*GALERIA BANHEIRO*/

/*GALERIA TAPETE*/
#tap1{ background: url("../images/croche/tapetes/tap1.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap2{ background: url("../images/croche/tapetes/tap2.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap3{ background: url("../images/croche/tapetes/tap3.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap4{ background: url("../images/croche/tapetes/tap4.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap5{ background: url("../images/croche/tapetes/tap5.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap6{ background: url("../images/croche/tapetes/tap6.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap7{ background: url("../images/croche/tapetes/tap7.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap8{ background: url("../images/croche/tapetes/tap8.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap9{ background: url("../images/croche/tapetes/tap9.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap10{ background: url("../images/croche/tapetes/tap10.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap11{ background: url("../images/croche/tapetes/tap11.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap12{ background: url("../images/croche/tapetes/tap12.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap13{ background: url("../images/croche/tapetes/tap13.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap14{ background: url("../images/croche/tapetes/tap14.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap15{ background: url("../images/croche/tapetes/tap15.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap16{ background: url("../images/croche/tapetes/tap16.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
/*GALERIA TAPETE*/

/*GALERIA PERSONAGENS*/
#per1{ background: url("../images/feltro/personagens/per1.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
/*GALERIA PERSONAGENS*/

/*GALERIA BICHINHOS*/
#bic1{ background: url("../images/feltro/bichinhos/bic1.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
/*GALERIA BICHINHOS*/

#galCroche span, #galFeltro span{
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 3px;
    padding: 5px;
    color: #000;
    font-size: 8pt;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    transition: all .3s;
}