@charset "UTF=8";

/*FILTER*/
#filter{
    position: relative;
    width: 25vw;
    margin: 110px auto 20px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #000;
    text-align: center;
    padding: 5px;
    display: none;
}

#filter a{
    width: 20vw;
    font-size: 1.5rem;
    padding: 5px;
    display: block;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
    transition: all .3s;
}

#filter a:hover{
    background-color: rgb(255, 1, 197);
}

#material, #matCroche, #matFeltro{
    display: none;
}

#material, #matCroche, #matFeltro{
    width: 20vw;
    margin: 10px auto;
    padding: 10px;
    font-size: 1.5rem;
    background-color: rgb(255, 1, 197);
    border-radius: 5px 5px 1px 1px;
    font-weight: bolder;
    text-align: center;
    border: solid 2px #000;
}

option{
    font-weight: bolder;
}
/*FILTER*/

main .container{
    width: 100vw;
    max-width: 1280px;
    margin: auto;
    overflow: hidden;
    padding: 30px;
    box-sizing: border-box;
    background-color: rgba(255, 0, 198, .1);
    box-shadow: 0px 0px 10px rgba(255, 0, 198, .3);
}

/*
#galeriaDeFotos{
    position: relative;
    width: 100vw;
    margin: auto;
    overflow: hidden;
    border-radius: 5px;
    background-color: ghostwhite;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .9);
}*/

h3{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: #800062;
    text-shadow: 0px 0px 5px #fff;
    margin: 30px auto;
}

/*#galBanheiro, #galTapete, #galPersonagem, #galLogoGame, #galBichinho{
    position: relative;
    width: 100%;
    list-style: none;
    margin: auto;
    /*display: none;
    overflow: hidden;
    border: solid 1px #000;
}*/

/*#galBanheiro li, #galTapete li, #galPersonagem li, #galLogoGame li, #galBichinho li*/ main .container li{
    position: relative;
    float: left;
    width: 350px;
    height: 250px;
    margin: 28px;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgb(128, 0, 98);
    border-radius: 5px;
    transition: all .3s;
    cursor: pointer;
    text-align: center;
}

/*#galBanheiro li:hover, #galTapete li:hover, #galPersonagem li:hover, #galLogoGame li:hover, #galBichinho li:hover*/ main .container li:hover{
    transform: scale(1.3);
    box-shadow: 0px 0px 15px rgba(128, 0, 98, .5);
}

/*#galBanheiro li:hover span, #galTapete li:hover span, #galPersonagem li:hover span, #galLogoGame li:hover span, #galBichinho li:hover*/ main .container li:hover span{
    opacity: 1;
}

/*HOVER DAS FOTOS*/
#amosBanTap:hover, #amosPerBic:hover, #amosLogJog:hover,
#bol1:hover, #bol2:hover, #bol3:hover, #bol4:hover,
#ban1:hover, #ban2:hover, #ban3:hover, #ban4:hover, #ban5:hover,
#diver1:hover, #diver2:hover,
#tap1:hover, #tap2:hover, #tap3:hover, #tap4:hover, #tap5:hover, #tap6:hover, #tap7:hover, #tap8:hover, #tap9:hover, #tap10:hover, #tap11:hover, #tap12:hover, #tap13:hover, #tap14:hover, #tap15:hover, #tap16:hover, #tap17:hover, #tap18:hover, #tap19:hover, #tap20:hover, #tap21:hover, #tap22:hover, #tap23:hover, #tap24:hover, #tap25:hover,
#chav1:hover, #chav2:hover, #chav3:hover, #chav4:hover,
#per1:hover, #per2:hover, #per3:hover, #per4:hover, #per5:hover, #per6:hover, #per7:hover, #per8:hover, #per9:hover, #per10:hover, #per11:hover, #per12:hover, #per13:hover,
#gam1:hover,
#bic1:hover, #bic2:hover{
    background-position: 0px 0px;
    background-size: 350px 250px;
}
/*HOVER DAS FOTOS*/

/*GALERIA BOLSA*/
#bol1{ background: url("../images/croche/bolsas/bol1.jpeg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#bol2{ background: url("../images/croche/bolsas/bol2.jpeg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#bol3{ background: url("../images/croche/bolsas/bol3.jpeg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#bol4{ background: url("../images/croche/bolsas/bol4.jpeg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
/*GALERIA BOLSA*/

/*GALERIA BANHEIRO*/
#ban1{ background: url("../images/croche/banheiro/ban1.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#ban2{ background: url("../images/croche/banheiro/ban2.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#ban3{ background: url("../images/croche/banheiro/ban3.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#ban4{ background: url("../images/croche/banheiro/ban4.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#ban5{ background: url("../images/croche/banheiro/ban5.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
/*GALERIA BANHEIRO*/

/*GALERIA DIVERSOS*/
#diver1{ background: url("../images/croche/diversos/diver1.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#diver2{ background: url("../images/croche/diversos/diver2.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
/*GALERIA DIVERSOS*/

/*GALERIA TAPETE*/
#tap1{ background: url("../images/croche/tapetes/tap1.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap2{ background: url("../images/croche/tapetes/tap2.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap3{ background: url("../images/croche/tapetes/tap3.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap4{ background: url("../images/croche/tapetes/tap4.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap5{ background: url("../images/croche/tapetes/tap5.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap6{ background: url("../images/croche/tapetes/tap6.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap7{ background: url("../images/croche/tapetes/tap7.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap8{ background: url("../images/croche/tapetes/tap8.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap9{ background: url("../images/croche/tapetes/tap9.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap10{ background: url("../images/croche/tapetes/tap10.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap11{ background: url("../images/croche/tapetes/tap11.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap12{ background: url("../images/croche/tapetes/tap12.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap13{ background: url("../images/croche/tapetes/tap13.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap14{ background: url("../images/croche/tapetes/tap14.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap15{ background: url("../images/croche/tapetes/tap15.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap16{ background: url("../images/croche/tapetes/tap16.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap17{ background: url("../images/croche/tapetes/tap17.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap18{ background: url("../images/croche/tapetes/tap18.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap19{ background: url("../images/croche/tapetes/tap19.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap20{ background: url("../images/croche/tapetes/tap20.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap21{ background: url("../images/croche/tapetes/tap21.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap22{ background: url("../images/croche/tapetes/tap22.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap23{ background: url("../images/croche/tapetes/tap23.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap24{ background: url("../images/croche/tapetes/tap24.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#tap25{ background: url("../images/croche/tapetes/tap25.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
/*GALERIA TAPETE*/

/*GALERIA CHAVEIRO*/
#chav1{ background: url("../images/feltro/chaveiros/chav1.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#chav2{ background: url("../images/feltro/chaveiros//chav2.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#chav3{ background: url("../images/feltro/chaveiros//chav3.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#chav4{ background: url("../images/feltro/chaveiros//chav4.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
/*GALERIA CHAVEIRO*/

/*GALERIA PERSONAGENS*/
#per1{ background: url("../images/feltro/personagens/per1.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#per2{ background: url("../images/feltro/personagens/per2.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#per3{ background: url("../images/feltro/personagens/per3.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#per4{ background: url("../images/feltro/personagens/per4.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#per5{ background: url("../images/feltro/personagens/per5.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#per6{ background: url("../images/feltro/personagens/per6.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#per7{ background: url("../images/feltro/personagens/per7.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#per8{ background: url("../images/feltro/personagens/per8.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#per9{ background: url("../images/feltro/personagens/per9.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#per10{ background: url("../images/feltro/personagens/per10.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#per11{ background: url("../images/feltro/personagens/per11.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#per12{ background: url("../images/feltro/personagens/per12.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#per13{ background: url("../images/feltro/personagens/per13.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
/*GALERIA PERSONAGENS*/

/*GALERIA GAMES*/
#gam1{ background: url("../images/feltro/games/gam1.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
/*GALERIA GAMES*/

/*GALERIA BICHINHOS*/
#bic1{ background: url("../images/feltro/bichinhos/bic1.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#bic2{ background: url("../images/feltro/bichinhos/bic2.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
/*GALERIA BICHINHOS*/

/*#galCroche span, #galFeltro*/main .container li span{
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    bottom: 0;
    margin-bottom: 2px;
    padding: 5px;
    color: #000;
    font-size: 8pt;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    transition: all .3s;
}