@charset "UTF-8";
@media (max-width: 360px){

    html{
        font-size: 25%;
    }

    header a{
        width: 28px;
        font-size: 2rem;
    }

    header #logoHeader{
        width: 50%;
    }

    header ul{
        position: fixed;
        top: 70px;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(rgba(255, 160, 233, .99), #fff, rgba(255, 160, 233, .99));
    }
    
    header li{
        position: relative;
        float: none;
        height: 15vh;
    }
    
    header a{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        font-size: 6rem;
        margin: 0;
        padding: 0;
        z-index: 100;
        text-align: center;
    }

    header a:hover i{
        transform: scale(1);
    }

    header .fa{
        display: inline-block;
    }

    #bar{
        display: block;
    }

    #logoApresentacao{
        width: 50%;
    }

    #galAmostra{
        padding: 0;
        margin: 0;
    }

    #galAmostra h3{
        font-size: 8rem;
        margin-top: 50px;
        padding: 10px;
        box-sizing: border-box;
    }

    #galAmostra span{
        opacity: 1;
        background-color: rgba(128, 0, 98, 0.5);
    }
    
    #galAmostra li:hover{
        transform: scale(1.0);
    }

    #artigosDiversos .container{
        padding: 20px 0;
    }

    #artigosDiversos li{
        position: relative;
        width: 90vw;
        height: 100px;
        border-radius: 10px;
    }

    #artigosDiversos img{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 20%;
    }

    #artigosDiversos li:hover img{
        top: 20%;
        transform: scale(1.5);
    }

    .textLeft, .textRight{
        width: 70%;
        font-size: 2rem;
    }

    .textLeft span, .textRight span{
        font-size: 5rem;
    }

    #quemSomos{
        margin: 10px auto;
        padding: 0;
    }

    #quemSomos .container{
        padding: 20px;
        box-sizing: border-box;
    }

    #perfil{
        width: 80px;
    }

    .descProjeto{
        font-size: 4rem;
    }

    footer, #direitos, #dev{
        font-size: 3rem;
    }

    #wpp p{
        font-size: 3rem;
    }

    #iconWpp{
        font-size: 3rem;
        right: 0px;
        bottom: 0px;
        padding: 5px 0 5px 5px;
        border-radius: 50% 0 0 10%;
    }

    #qrCodeWpp{
        position: absolute;
        right: 0px;
        bottom: 0px;
        padding: 10px 0;
        width: 100vw;
        border-radius: 10px 10px 0 0;
    }

    #qrCodeWpp img{
        display: none;
    }
}