@charset "UTF-8";
@media (max-width: 360px){

    /*GERAL*/
    html{
        font-size: 25%;
    }
    /*GERAL*/

    /*HEADER*/
    header #logoHeader{
        width: 50%;
    }

    header ul{
        position: fixed;
        top: 95px;
        left: -100%;
        width: 100vw;
        height: calc(100vh - 95px);
        background-image: linear-gradient(rgba(255, 160, 233, .99), #fff, rgba(255, 160, 233, .99));
        opacity: 0;
        transition: all .5s;
        flex-direction: column;
    }
    
    header li{
        position: relative;
        width: 100%;
        height: 15vh;
    }
    
    header a{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        font-size: 6rem;
        margin: 0;
        padding: 0;
        z-index: 100;
        text-align: center;
    }

    header a:hover i{
        transform: scale(1);
    }

    header .fa{
        display: inline-block;
    }

    nav.ativado ul{
        opacity: 1;
        left: 0;
    }

    nav.ativado .one{
        top: 9px;
        transform: rotate(495deg);
    }

    nav.ativado .two{
        opacity: 0;
        transform: rotate(180deg);
    }
    
    nav.ativado .three{
        top: -9px;
        transform: rotate(-495deg);
    }

    #bar{
        display: block;
    }

    .one, .two, .three{
        position: relative;
        transition: all .3s;
    }
    /*HEADER*/

    /*APRESENTAÇÃO*/
    #apresentacao .container{
        margin: 0 20px;
    }

    #apresentacao h1{
        font-size: 10rem;
    }

    #logoApresentacao{
        width: 75%;
    }
    /*APRESENTAÇÃO*/

    /*GALERIA "AMOSTRA"*/
    #galAmostra{
        padding: 0;
        margin: 0;
    }

    #galAmostra h3{
        font-size: 8rem;
        margin-top: 50px;
        padding: 10px;
        box-sizing: border-box;
    }

    #galAmostra ul{
        flex-direction: column;
    }

    #galAmostra li{
        margin: 5px 0;
    }

    #galAmostra span{
        opacity: 1;
        background-color: rgba(128, 0, 98, 0.5);
    }
    
    #galAmostra li:hover{
        transform: scale(1.0);
    }
    /*GALERIA "AMOSTRA"*/

    /*ARTIGOS (DESCRIÇÃO) (BACKGROUND "PARALAX")*/
    #artigosDiversos .container{
        padding: 0;
    }

    #artigosDiversos li{
        position: relative;
        width: 90vw;
        height: 100px;
        border-radius: 10px;
        align-items: center;
        overflow: hidden;
    }

    #artigosDiversos img{
        position: absolute;
        width: 20%;
    }

    #artigosDiversos li:hover img{
        /* top: 20%; */
        transform: scale(1.5);
        opacity: 0.2;
    }

    .textLeft, .textRight{
        width: 100%;
        padding: 0px;
        font-size: 2.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .textLeft span, .textRight span{
        position: relative;
        top: 0;
        font-size: 1rem;
        opacity: 0;
    }

    #artigosDiversos li:hover span{
        top: 0;
        font-size: 6rem;
        opacity: 1;
    }

    .textLeft p, .textRight p{
        padding: 0;
        top: 0;
        text-shadow: 0px 0px 10px #fff;
    }
    /*ARTIGOS (DESCRIÇÃO) (BACKGROUND "PARALAX")*/

    /*QUEM SOMOS*/
    #quemSomos{
        margin: 10px auto;
        padding: 0;
    }

    #quemSomos .container{
        padding: 20px;
        box-sizing: border-box;
    }

    #perfil{
        width: 80px;
    }

    .descProjeto{
        font-size: 4rem;
    }
    /*QUEM SOMOS*/

    /*FOOTER*/
    footer, #direitos, #dev{
        font-size: 3rem;
    }
    /*FOOTER*/

    /*ÍCONE DO WHATSAPP*/
    #wpp p{
        font-size: 3rem;
    }

    #iconWpp{
        font-size: 4rem;
        right: 0px;
        bottom: 0px;
        padding: 5px 0 5px 5px;
        border-radius: 50% 0 0 10%;
    }

    #iconWpp:hover #qrCodeWpp{
        bottom: 0;
    }

    #qrCodeWpp{
        position: absolute;
        right: 0px;
        bottom: -100px;
        padding: 10px 0;
        width: 100vw;
        border-radius: 10px 10px 0 0;
        display: block;
        transition: all .5s;
    }

    #qrCodeWpp img{
        display: none;
    }
    /*ÍCONE DO WHATSAPP*/

    /*GALERIA*/
    main h3{
        font-size: 8rem;
    }

    main .container, main .container ul{
        position: relative;
        margin: 0;
        padding: 0;
    }

    main .container li{
        float: none;
        margin: 50px auto;
    }

    main .container li:hover{
        transform: scale(1);
    }
    /*GALERIA*/
}