@charset "UTF-8";
@font-face{
    font-family: "dancingScript";
    src: url("../font/DancingScript-VariableFont_wght.ttf");
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 83.3%;
}

body{
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    font-size: 1.2rem;
}

header{
    width: 100vw;
    height: auto;
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    position: absolute;
    z-index: 1;
}

#logo{
    width: 20vw;
}

header ul{
    position: relative;
    right: 20px;
    list-style: none;
    float: right;
}

header li{
    float: left;
    text-align: center;
}

header a{
    display: block;
    text-decoration: none;
    color: rgb(255, 1, 197);
    height: auto;
    padding: 1em;
}

header a:hover{
    color: #000;
    background-color: rgb(255, 1, 197);
    box-shadow: 0px 0px 10px rgb(255, 1, 197);
    transition: all .3s;
}

#apresentacao{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url("../images/fundo_apresentacao.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgba(0, 0, 0, .6);
    text-align: center;
    box-shadow: 0px 0px 15px rgb(127, 127, 127);
}

#apresentacao h1{
    position: relative;
    top: 200px;
    font-size: 6rem;
    color: rgb(255, 1, 197);
    text-shadow: 0px 0px 20px #000;
    padding: 20px;
}

#arteDescricao{
    width: 100vw;
    margin: 40px 0;
}

#arteDescricao ul{
    list-style: none;
}

#arteDescricao li{
    width: 50vw;
    height: 150px;
    padding: 5px;
    margin: 20px auto;
    border-radius: 25px;
    transition: all .5s;
    cursor: pointer;
}

.textLeft, .textRight{
    text-align: center;
    width: 77%;
    height: 100%;
    font-weight: bolder;
}

.textLeft{
    float: left;
}

.textRight{
    float: right;
}

.textLeft span, .textRight span{
    position: relative;
    top: 50px;
    font-size: 3.5rem;
    transition: all .3s;
}

.textLeft p, .textRight p{
    position: relative;
    padding: 25px;
    top: 0px;
    visibility: hidden;
}

#arteDescricao img{
    width: 150px;
    transition: all .3s;
}

.imgRight{
    float: right;
}

#arteDescricao li:hover span{
    font-size: 2.5rem;
    top: 10px;
}

#arteDescricao li:hover p{
    visibility: visible;
}

#arteDescricao li:hover img{
    transform: scale(1.5);
}

.liShadowLeft:hover{
    box-shadow: -10px 5px 10px rgb(255, 1, 197);
    background-image: linear-gradient(to left, white,rgb(255, 1, 197));
}

.liShadowRight:hover{
    box-shadow: 10px 5px 10px rgb(255, 1, 197);
    background-image: linear-gradient(to right, white,rgb(255, 1, 197));
}

#quemSomos{
    box-shadow: 0px 0px 20px rgb(255, 1, 197);
    width: auto;
    height: auto;
    background-color: rgb(255, 1, 197);
    padding: 50px;
}

#perfil{
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #000;
    float: left;
}

#descIdealizadora{
    width: auto;
    margin-bottom: 50px;
}

#fraseEfeito, .descProjeto{
    font-family: "dancingScript";
    font-size: 5rem;
    text-align: center;
    font-weight: bolder;
}

.descProjeto{
    font-size: 2rem;
}

/*FOOTER*/
footer{
    position: relative;
    bottom: 0px;
    margin-top: 20px;
    width: auto;
    height: auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, .9);
    box-shadow: 0px 0px 20px #000;
    color: rgb(255, 1, 197);
}

footer a{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 1, 197);
    padding: 10px;
    transition: all .3s;
}

footer a:hover{
    text-shadow: 0px 0px 5px rgb(255, 1, 197);
}

#redes i{
    width: 15px;
    padding: 0;
}

#direitos, #dev{
    padding: 15px;
    font-size: 1rem;
}
/*FOOTER*/

#wpp ul{
    list-style: none;
    text-align: center;
}

#qrCodeWpp{
    width: 200px;
    position: fixed;
    right: 25px;
    bottom: 100px;
    display: none;
    background-color: #34af23;
    box-shadow: 0px 0px 20px #34af23;
    border-radius: 10px;
    padding: 5px;
}

#wpp img{
    border-radius: 10px;
    width: 200px;
}

#wpp p{
    font-family: "dancingScript";
    font-weight: bolder;
    font-size: 1.5rem;
    color: #fff;
    padding: 5px;
}

#iconWpp{
    display: block;
    position: fixed;
    right: 100px;
    bottom: 20px;
    color: #fff;
    border-radius: 50% 50% 50% 5%;
    background-color: #34af23;
    padding: 6px 3px 5px 2px;
    box-shadow: 0px 0px 10px #fff;
    cursor: pointer;
    transition: all .5s;
}

#iconWpp:hover{
    color: #34af23;
    background-color: #fff;
    box-shadow: 0px 0px 10px #34af23;
}

#iconWpp:hover #qrCodeWpp{
    display: block;
}