@charset "UTF-8";
@font-face{
    font-family: "dancingScript";
    src: url("../font/DancingScript-VariableFont_wght.ttf");
}

/*GERAL*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 83.3%;
}

body{
    width: 100vw;
    height: auto;
    font-size: 1.2rem;
    overflow-x: hidden;
}

ul{
    list-style: none;
}

.container{
    width: 100vw;
    max-width: 1080px;
    margin: auto;
}
/*GERAL*/

/*HEADER*/
header{
    position: relative;
    top: 0;
    width: 100vw;
    height: 100px;
    z-index: 1;
    background-image: linear-gradient(#FF01C5, rgba(255, 160, 233, .9));
}

header .container{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    padding: 0px 15px;
    box-sizing: border-box;
}

#logoBlack{
    position: relative;
    width: 230px;
}

header ul{
    float: right;
}

header li{
    float: left;
    text-align: center;
}

header a{
    display: block;
    text-decoration: none;
    color: #800062;
    padding: 7px;
    margin: auto 5px;
}

header .fa{
    margin: 5px;
    transition: all .3s;
}

header a:hover .fa{
    transform: scale(1.2);
    text-shadow: 0px 0px 1px #000;
}
/*HEADER*/

/*APRESENTAÇÃO (BACKGROUND "PARALAX")*/
#apresentacao{
    position: relative;
    width: 100vw;
    height: calc(100vh - 100px);
    color: rgba(0, 0, 0, .6);
    text-align: center;
    background-image: linear-gradient(rgba(255, 160, 233, .9), #fff, rgba(255, 160, 233, .9));
}


#apresentacao .container{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#apresentacao h1{
    font-size: 7rem;
    color: #800062;
    text-shadow: 0px 0px 3px rgb(255, 1, 197);
}

#logoPink{
    width: 500px;
}
/*APRESENTAÇÃO (BACKGROUND "PARALAX")*/

/*GALERIA "AMOSTRA"*/
#galAmostra{
    overflow: hidden;
    padding: 3rem;
    margin: 2rem;
    border-radius: 5px;
}

h3{
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
    color: #800062;
    margin-bottom: 30px;
}

#amosBanTap{ background: url("../images/croche/banheiro/ban3.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#amosPerBic{ background: url("../images/feltro/personagens/per1.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }
#amosLogJog{ background: url("../images/croche/tapetes/tap6.jpg") no-repeat; background-position: 50% 50%; background-size: 450px 350px; }

#galAmostra li{
    margin: 25px;
    float: left;
    width: 310px;
    height: 250px;
    box-shadow: 0px 0px 5px #800062;
    border-radius: 5px;
    transition: all .3s;
    cursor: pointer;
}

#galAmostra span{
    display: block;
    opacity: 0;
    position: relative;
    height: 180px;
    padding: 30px;
    margin: 5px;
    color: #fff;
    text-align: center;
    font-size: 27pt;
    font-weight: bolder;
    text-shadow: 0px 0px 70px #fff;
    background-color: rgba(128, 0, 98, 0.9);
    border-radius: 5px;
    transition: all .3s;
}

#galAmostra li:hover{
    transform: scale(1.3);
    background-position: 0px 0px;
    background-size: 350px 250px;
    box-shadow: 0px 0px 15px #800062;
}

#galAmostra li:hover span{
    opacity: 1;
}
/*GALERIA "AMOSTRA"*/

/*ARTIGOS (DESCRIÇÃO)*/
#artigosDiversos{
    width: 100vw;
    margin-bottom: 20px;
    background: url("../images/fundo_apresentacao.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#artigosDiversos .container{
    padding: 2%;
    width: 100%;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

#artigosDiversos ul{
    list-style: none;
}

#artigosDiversos li{
    width: 50vw;
    height: 150px;
    padding: 5px;
    margin: 20px auto;
    border-radius: 25px;
    transition: all .5s;
    cursor: pointer;
}

.textLeft, .textRight{
    text-align: center;
    width: 77%;
    height: 100%;
    font-weight: bolder;
}

.textLeft{
    float: left;
}

.textRight{
    float: right;
}

.textLeft span, .textRight span{
    position: relative;
    top: 40px;
    font-size: 5rem;
    transition: all .3s;
}

.textLeft p, .textRight p{
    position: relative;
    padding: 25px;
    top: 0px;
    visibility: hidden;
}

#artigosDiversos img{
    width: 150px;
    transition: all .3s;
}

.imgRight{
    float: right;
}

#artigosDiversos li:hover span{
    font-size: 2.5rem;
    top: 10px;
}

#artigosDiversos li:hover p{
    visibility: visible;
}

#artigosDiversos li:hover img{
    transform: scale(1.5);
}

.liShadowLeft:hover{
    box-shadow: -10px 5px 10px #800062;
    background-image: linear-gradient(to left, white,rgb(255, 1, 197));
}

.liShadowRight:hover{
    box-shadow: 10px 5px 10px #800062;
    background-image: linear-gradient(to right, white,rgb(255, 1, 197));
}
/*ARTIGOS (DESCRIÇÃO)*/

/*QUEM SOMOS*/
#quemSomos{
    box-shadow: 0px 0px 20px #800062;
    width: auto;
    height: auto;
    background-image: radial-gradient(rgba(255, 1, 197, 0.1), rgba(255, 1, 197, 0.5));
    padding: 50px;
    color: #800062;
}

#perfil{
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #000;
    float: left;
}

#descIdealizadora{
    width: auto;
    margin-bottom: 50px;
}

#fraseEfeito, .descProjeto{
    font-family: "dancingScript";
    font-size: 5rem;
    text-align: center;
    font-weight: bolder;
}

.descProjeto{
    font-size: 2rem;
}
/*QUEM SOMOS*/

/*FOOTER*/
footer{
    position: relative;
    bottom: 0px;
    margin-top: 20px;
    width: auto;
    height: auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, .9);
    box-shadow: 0px 0px 20px #000;
    color: rgb(255, 1, 197);
}

footer a{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 1, 197);
    padding: 10px;
    transition: all .3s;
}

footer a:hover{
    text-shadow: 0px 0px 5px rgb(255, 1, 197);
}

#redes i{
    width: 15px;
    padding: 0;
    margin: 10px;
}

#direitos, #dev{
    padding: 15px;
    font-size: 1rem;
}
/*FOOTER*/

/*ÍCONE DO WHATSAPP*/
#wpp ul{
    list-style: none;
    text-align: center;
}

#qrCodeWpp{
    width: 200px;
    position: fixed;
    right: 25px;
    bottom: 100px;
    display: none;
    background-color: #34af23;
    box-shadow: 0px 0px 20px #34af23;
    border-radius: 10px;
    padding: 5px;
}

#wpp img{
    border-radius: 10px;
    width: 200px;
}

#wpp p{
    font-family: "dancingScript";
    font-weight: bolder;
    font-size: 1.5rem;
    color: #fff;
    padding: 5px;
}

#iconWpp{
    display: block;
    position: fixed;
    right: 100px;
    bottom: 20px;
    color: #fff;
    border-radius: 50% 50% 50% 5%;
    background-color: #34af23;
    padding: 6px 6px 5px 5px;
    box-shadow: 0px 0px 10px #fff;
    cursor: pointer;
    transition: all .5s;
}

#iconWpp:hover{
    color: #34af23;
    background-color: #fff;
    box-shadow: 0px 0px 10px #34af23;
}

#iconWpp:hover #qrCodeWpp{
    display: block;
}
/*ÍCONE DO WHATSAPP*/